<h2><%=@cuisine.category%></h2>

ID: <%=@cuisine.id%>


<ul>
  <%@cuisine.photos.each do |p|%>
  <%= link_to (image_tag p.image), photo_path(p.id), :class => 'post_preview' %>
  <br>
  Venue: <%= @cuisine.venues.pluck (:venue_name)%>
  <br>
  <%= link_to p.user.username, user_path(p.id) %> said: <%= p.description %>
  <br>


<%end%>

</ul>
