<h2><%=@cuisine.category%></h2>

ID: <%=@cuisine.id%>


<ul>
  <%@cuisine.dishes.each do |d|%>
    <%d.photos.each do |p|%>
    <div class="show">
      <%= link_to (cl_image_tag p.image), photo_path(p.id), :class => 'post_preview' %>
      <br>
      Venue: <%= @cuisine.venues.pluck (:venue_name)%>
      <br>
      <%= link_to p.user.username, user_path(p.id) %> said: <%= p.description %>
      </div>
      <br>
    <%end%>



<%end%>

</ul>
