<h2><%=@user.username%>'s details</h2>


<%if @current_user == @user%>
  <%=link_to 'edit profile',edit_user_path(@user)%>
<%end%>
<br>

<img src="<%=@user.image%>" alt="profile pic">

<p>Username: <%=@user.username%></p>
<p>Full name: <%=@user.full_name%></p>
<p>Email: <%=@user.email%></p>
<p>Instagram: <%=@user.instagram%></p>
<p>About me: <%=@user.bio%></p>
<p>Website: <%=@user.website%></p>

<h2><%=@user.username%>'s photos</h2>
<%=link_to 'add photos', new_photo_path(@user_id)%>
<ul>
  <%@user.photos.each do |p|%>
  <%= link_to (image_tag p.image), photo_path(p.id), :class => 'post_preview' %>
  <br>

  <%= p.description %>
  <br>


<%end%>

</ul>
