<h2>Venue - details</h2>

Name: <%=@venue.venue_name%>
  <br>
ID: <%=@venue.id%>
  <br>
Postcode: <%=@venue.postcode%>
  <br>
Description: <%=@venue.business_description%>
  <br>
Address: <%=@venue.street_address%>
  <br>
  <div class="row">

  <%@venue.dishes.each do |d|%>
        <%d.photos.each do |p|%>
            <div class="col s12 m6 l3">
              <div class="card">
                <div class="card-image">
        <%= link_to (cl_image_tag p.image), photo_path(p.id)%>
        <div class="card-content">
</div>
        <%end%>
      </div>
    </div>
  </div>
  <%end%>

      </div>
