<h2>Venue - details</h2>

Name: <%=@venue.venue_name%>
<br>
ID: <%=@venue.id%>
<br>
Postcode: <%=@venue.postcode%>
<br>
Description: <%=@venue.business_description%>
<br>
Address: <%=@venue.street_address%>
<br>
<!-- <%= link_to 'delete', @venue, method: :delete, :data => {:confirm => "are you sure?"}%> -->
<br>
  <%@venue.dishes.each do |d|%>
        <%d.photos.each do |p|%>
          <div class="index">
        <%= link_to (cl_image_tag p.image), photo_path(p.id), :class => 'img-thumbnail' %>
      </div>
        <%end%>
  <%end%>
