<h2>Dish - details</h2>

<!-- <%#= cl_image_tag @dish.photos.image %> -->
  <%#raise 'hell'%>
  <br>
    <%=@dish.name%>
<br>
  Cuisine:
  <ul>
    <% @dish.cuisines.each do |c|%>
    <li>
      <%= link_to c.category, cuisine_path(c.id) %>

    </li>
    <%end%>
  <br>
  <%if @current_user == @user%>
    <%=link_to 'edit', edit_photo_path%> |
    <%= link_to 'delete', @photo, method: :delete, :data => {:confirm => "Are you sure?"}%>
  <%end%>

  <br>
  <!-- <div class="selfie"> -->

  <%= cl_image_tag @user.image%>
<!-- </div> -->
  <%=link_to @dish.user.username, user_path(@dish.user.id) %> said: <%#= @photo.description %>
  <br>
  More on <%=link_to @dish.user.username, user_path(@dish.user.id), class:"index" %> | <%=@dish.user.bio%> |
  Other posts by  <%=@dish.user.username%> |
  <ul> <strong>need to exclude image currently showing</strong><br>
  <%@dish.user.photos.each do |p|%>
  <div class="index">
    <%= link_to (cl_image_tag p.image), photo_path(p.id), :class => 'post_preview' %>

  </div>

<%end%>

  </ul>

</ul>
