<h2>Dish - details</h2>

<!-- <%#= cl_image_tag @dish.photos.image %> -->
  <%#raise 'hell'%>
  <br>
  Cuisine:
  <ul>
    <% @dish.cuisines.each do |c|%>
    <li>
      <%= link_to c.category, cuisine_path(c.id) %>

    </li>
  <%end%>
  <br>
  <%if @current_user == @user%>
    <%=link_to 'edit', edit_photo_path%> |
    <%= link_to 'delete', @photo, method: :delete, :data => {:confirm => "Are you sure?"}%>
  <%end%>



  <br>
  <%= cl_image_tag @user.image %>

  <%=link_to @user.username, user_path(@user.id) %> said: <%#= @photo.description %>
  <br>
  More on <%=link_to @user.username, user_path(@user.id) %> | <%=@user.bio%> |
  Other posts by  <%=@user.username%> |
  <ul> <strong>need to exclude image currently showing</strong><br>
  <%@user.photos.each do |p|%>
  <%= link_to (cl_image_tag p.image), photo_path(p.id), :class => 'post_preview' %>

<%end%>

  </ul>

</ul>
