
 <div class="row">
   <%Photo.all.each do |p|%>
   <div class="col s12 m6 l3">
     <div class="card #b2dfdb teal lighten-4
">
       <div class="card-image">
<%= link_to (cl_image_tag p.image), photo_path(p.id) %>
         <span class="card-title"><%=p.description%></span>
       </div>
       <div class="card-content">
         <p><%if @current_user != nil %>
           <%unless @current_user.favorite_photos.exists?(id: p.id) %>
             <%= link_to '<i class="tiny material-icons">star</i>'.html_safe, favorite_photos_path(p_id: p), method: :post %>
           <% else %>
             <%= link_to '<i class="tiny material-icons">not_interested</i>'.html_safe, favorite_photos_path(p_id: p), method: :post %>
           <%end%>
         <%if p.dish != nil%>
         <h6><%=link_to p.user.username, user_path(p.user.id) %> ate this at <%=link_to p.dish.venue.venue_name, venue_path(p.dish.venue.id)%></h6>
             <%end%>
             <%end%></p>
       </div>
       <div class="card-action">
         <%=link_to "More info", photo_path(p.id)%>
       </div>
     </div>
   </div>
   <%end%>

       </div>
