<h2>Food - details</h2>
<div class="show">
<%= cl_image_tag @photo.image %>
    <%if @current_user == @user%>
    <br>
    <%=link_to 'edit', edit_photo_path%> |
    <%= link_to 'delete', @photo, method: :delete, :data => {:confirm => "Are you sure?"}%>
  <%end%>
</div>

<div class="selfie">
  <%= cl_image_tag @user.image %>
</div>

  <%=link_to @user.username, user_path(@user.id) %> said: <%= @photo.description %>
  <br>
  More on <%=link_to @user.username, user_path(@user.id) %> | <%=@user.bio%> |
  Other photos uploaded by  <%=@user.username%> |
  <ul>
  <%@user.photos.each do |p|%>
    <div class="index">
    <%= link_to (cl_image_tag p.image), photo_path(p.id), :class => 'post_preview' %>
    </div>

<%end%>

  </ul>

</ul>
