<!DOCTYPE html>
<html>
  <head>
    <title>Figgie</title>
    <%= csrf_meta_tags %>
    <%=cloudinary_js_config%>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="topnav" id="myTopnav">
        <%=link_to 'figgie', root_path, :id => 'logo' %>
        <%=link_to 'food', photos_path %>
        <%=link_to 'venues', venues_path %>
        <%=link_to 'friends', users_path %>
        <%=link_to 'cuisines', cuisines_path %>
        <%=link_to 'dishes', dishes_path %>
        <% unless @current_user.present?%>
          <%=link_to 'Login', login_path %>  <%=link_to 'Sign up', new_user_path%>
        <%else%>
          <%=link_to @current_user.username, user_path(@current_user)%>

          <%#=link_to "/users/@current_user.id/photos", profile%>
          <%= link_to 'Logout', login_path, method: :delete%>
          <%= link_to (image_tag @current_user.image, :id => 'icon'), user_path(@current_user)  %>
          <%=link_to '+', new_dish_path %>



        <%end%>
</div>
    <nav>
      <% unless @current_user.present?%>
        <%=link_to 'Login', login_path %> | <%=link_to 'Sign up', new_user_path%>
      <%else%>
        Welcome, <%=link_to @current_user.username, user_path(@current_user)%>
      <%end%>
    </nav>
    <%= yield %>

  </body>
</html>
