<!DOCTYPE html>
<html>
  <head>
    <title>Figgie</title>
    <%= csrf_meta_tags %>
    <%=cloudinary_js_config%>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="topnav" id="myTopnav">
        <%=link_to 'figgie', root_path, :id => 'logo' %>
        <%=link_to 'food', photos_path %>
        <%=link_to 'venues', venues_path %>
        <%=link_to 'friends', users_path %>
        <%=link_to 'cuisines', cuisines_path %>
        <% unless @current_user.present?%>
          <%=link_to 'Login', login_path %>  <%=link_to 'Sign up', new_user_path%>
        <%else%>
          <%=link_to @current_user.username, user_path(@current_user)%>

          <%#=link_to "/users/@current_user.id/photos", profile%>

        <%= link_to 'Logout', login_path, method: :delete%>
        <%= link_to (image_tag @current_user.image),user_path(@current_user), :class => 'user_detail' %>


        <%end%>
</div>
    <nav>
      <% unless @current_user.present?%>
        <%=link_to 'Login', login_path %> | <%=link_to 'Sign up', new_user_path%>
      <%else%>
        Welcome, <%=link_to @current_user.username, user_path(@current_user)%>
      <%end%>
    </nav>

    <%= yield %>
  </body>
</html>
